
<div class="col-md-12 text-center">
    <img class="" style="height: 80%; width: 80%;" src="../../../assets/logo.png">
</div>



<br><br>    


<div class="container text-center">
    <div class="col-md-12">
        <h4 class="" style="font-weight: bold; font-size:17px;">¿Quiénes somos?</h4><hr>
        <p>Somos una compañía florista con 20 años en el mercado. Nuestro prestigio, calidad, y servicio nos caracteriza. Tenemos los mejores diseños, y trabajamos día a día para entregar un servicio premium al cliente. Un diseño minimalista, o sofisticado, un toque clásico, o moderno. La decisión es de usted. 

            Al servicio de su buen gusto.
            
            ​</p>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
    <!-- <div class="col-md-12">
        <h4 style="font-weight: bold; font-size:17px;">Contacto</h4>
        <p>Diego Hurtado De Mendoza #654 Col San Javier 83128 Hermosillo, Sonora, México</p>
        <p>Telefonos:6623014870</p>
    </div> -->
    <br><br>
</div>
